@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import "header";
@import "variables";
@import "about";
@import "services";
@import "work";
@import "contact";

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: $bg-color;
  color: $primarycolor;
}
.container{
  padding:10px 5%;

}
/* css for small screen */
 nav .fa-solid{
  display: none; 
}

/*-- -----------------responsive css----------------- --*/

@media only screen and (max-width: 600px){
  #image-bdy{
    content:url("../images/img1.png");
  }
  
  .header-text{
    margin-top:100%;
    font-size: 16px;
  }
  .header-text h1{
    font-size: 30px;
  }
  nav .fa-solid{
    display:block ;
    font-size: 25px;
  }
  nav ul{
    background: #b5570a;
    position: fixed;
    top:0;
    right:-200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li{
    display: block;
    margin:25px;
  }
  nav ul li a{
    color:black;
  }
  nav ul .fa-solid{
    position: absolute;
    top:25px;
    left:25px;
    cursor:pointer;
  }
  .sub-title{
    font-size: 30px;
  }
  .about-col-1, .about-col-2{
    flex-basis: 100%;
  }
  .about-col-1{
    margin-bottom:40px ;
  }
  .about-col-2 p{
    margin-right: 10px;
    font-size: 18px;

  }
  .tab-titles p{
    font-size: 20px;
  }
  .tab-links{
    font-size: 18px;
    margin-top: 20px;
  }
  .tab-contents ul li{
    font-size: 18px;
  }
  .tab-contents ul li span{
    font-size:20px;
  }

  .contact-left, .contact-right{
    flex-basis:100%;
  }
}
